homeautomation/homeassistant/*
media/jackett/*
media/radarr/*
media/readarr*
media/sonarr/*
media/transmission/*
photoprism/mariadb/*
photoprism/storage/*
traefik/acme/*
traefik/logs/*
tv/antennas/*
tv/jellyfin/*