**/secrets.env
**/.env
7seas/pia/*
!7seas/pia/encrypted.env
!7seas/pia/port.sh
7seas/prowlarr/*
!7seas/prowlarr/Definitions/
7seas/prowlarr/Definitions/*
!7seas/prowlarr/Definitions/Custom/
!7seas/prowlarr/Definitions/Custom/*
7seas/radarr/*
7seas/readarr/*
7seas/sonarr/*
7seas/transmission/*
admin/beszel/*
admin/dockhand/*
docs/affine/config/*
docs/affine/storage/*
dashy/config/conf.yml
dashy/config/health.yml
dashy/config/config-backups/*
front/crowdsec/*
!front/crowdsec/config/
front/crowdsec/config/*
!front/crowdsec/config/acquis.yaml
!front/crowdsec/config/profiles.yaml
!front/crowdsec/config/notifications/
front/crowdsec/config/notifications/*
!front/crowdsec/config/notifications/ha.yaml
front/traefik/acme/*
front/traefik/logs/*
front/traefik/config/security/middlewares.yml
home/ha/*
home/mosquitto/*
!home/mosquitto/config/
!home/mosquitto/config/*.conf
home/zigbee2mqtt/*
media/immich/*
media/jellyfin/*
network/adguard/*
network/tailscale/*
tooling/data/backups/backup-services.log
tooling/data/backups/backup-services.log.old
tooling/data/backups/backup-truenas.log
tooling/data/backups/backup-truenas.log.old
tooling/dns/duckdns/duck.env
tooling/dns/duckdns/duck.log
vault/vaultwarden/*
wiki/otter/settings.cfg
wiki/otter/db.sqlite

