**/secrets.env
dashy/conf.yaml
home/ha/*
media/jackett/*
media/radarr/*
media/readarr*
media/sonarr/*
media/prowlarr/*
media/transmission/*
photoprism/mariadb/*
photoprism/storage/*
tools/duckdns/duck.env
tools/duckdns/duck.log
traefik/acme/*
traefik/logs/*
traefik/statics/core/basicauth.yaml
tv/jellyfin/*