name: wiki

services:
  otterwiki:
    image: redimp/otterwiki:2
    container_name: otterwiki
    cpus: 1
    mem_limit: 2048m
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - traefik
    volumes:
      - ./otter/repository:/app-data/repository
      - ./otter/settings.cfg:/app-data/settings.cfg
      - /mnt/fast/dbs/homelab/wiki/db.sqlite:/app-data/db.sqlite
    environment:
      - PUID=3000
      - PGID=3002
      - TZ=Europe/Paris
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.wiki.entrypoints=https"
      - "traefik.http.routers.wiki.rule=Host(`wiki.corsair.tf`)"
      - "traefik.http.routers.wiki.middlewares=security@file"
      - "traefik.http.routers.wiki.service=wiki"
      - "traefik.http.services.wiki.loadbalancer.server.port=8080"

networks:
  traefik:
    external: true
