name: media

services:
  jellyfin:
    container_name: jellyfin
    image: linuxserver/jellyfin:latest
    restart: unless-stopped
    mem_limit: 3072m
    security_opt:
      - no-new-privileges:true
    group_add:
      - "44"   # video group
      - "107"  # render group
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    networks:
      - traefik
    ports:
      - 8096:8096
      - 8920:8920 #optional
      - 7359:7359/udp #optional
      - 1900:1900/udp #optional
    volumes:
      - ./jellyfin/config:/config
      - /mnt/tank/media/tv:/shows
      - /mnt/tank/media/movies:/movies
    environment:
      - PUID=3000
      - PGID=3001
      - TZ=Europe/Paris
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin.entrypoints=https"
      - "traefik.http.routers.jellyfin.rule=Host(`tv.corsair.tf`)"
      - "traefik.http.routers.jellyfin.middlewares=jellyfin"
      - "traefik.http.routers.jellyfin.middlewares=private@file,security-soft@file"
      - "traefik.http.middlewares.jellyfin.headers.customResponseHeaders.X-Robots-Tag=noindex,nofollow,nosnippet,noarchive,notranslate,noimageindex"
      - "traefik.http.middlewares.jellyfin.headers.SSLRedirect=true"
      - "traefik.http.middlewares.jellyfin.headers.SSLHost=tv.corsair.tf"
      - "traefik.http.middlewares.jellyfin.headers.SSLForceHost=true"
      - "traefik.http.middlewares.jellyfin.headers.STSSeconds=315360000"
      - "traefik.http.middlewares.jellyfin.headers.STSIncludeSubdomains=true"
      - "traefik.http.middlewares.jellyfin.headers.STSPreload=true"
      - "traefik.http.middlewares.jellyfin.headers.forceSTSHeader=true"
      - "traefik.http.middlewares.jellyfin.headers.frameDeny=true"
      - "traefik.http.middlewares.jellyfin.headers.contentTypeNosniff=true"
      - "traefik.http.middlewares.jellyfin.headers.browserXSSFilter=true"
      - "traefik.http.middlewares.jellyfin.headers.customFrameOptionsValue='allow-from https://corsair.tf'"
      - "traefik.http.routers.jellyfin.service=jellyfin"
      - "traefik.http.services.jellyfin.loadBalancer.server.port=8096"
      - "traefik.http.services.jellyfin.loadBalancer.passHostHeader=true"
      - "crowdsec.enable=true"
      - "crowdsec.labels.type=jellyfin"

  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    restart: unless-stopped
    stop_grace_period: 10s
    cpus: 3
    mem_limit: 2048m
    security_opt:
      - no-new-privileges:true
    depends_on:
      - redis
      - database
    extends:
      file: hwaccel.transcoding.yml
      service: quicksync
    networks:
      - immich
      - traefik
    volumes:
      - ${UPLOAD_LOCATION}:/usr/src/app/upload
      - /mnt/tank/media/photos:/usr/src/app/upload/library
      - /mnt/tank/media/photos/Max:/library/Max:ro
      - /mnt/tank/media/photos/Sixtine:/library/Sixtine:ro
      - /mnt/tank/media/photos/JD:/library/JD:ro
      - /mnt/tank/media/photos/Stephanie:/library/Stephanie:ro
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
    healthcheck:
      disable: false
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.photos.entrypoints=https"
      - "traefik.http.routers.photos.rule=Host(`photos.corsair.tf`)"
      - "traefik.http.routers.photos.middlewares=security-soft@file"
      - "traefik.docker.network=traefik"
      - "crowdsec.enable=true"
      - "crowdsec.labels.type=immich"

  immich-machine-learning:
    container_name: immich_machine_learning
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}
    volumes:
      - model-cache:/cache
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
    restart: unless-stopped
    healthcheck:
      disable: false
    stop_grace_period: 5s
    cpus: 2
    mem_limit: 4096m
    security_opt:
      - no-new-privileges:true
    networks:
      - immich

  redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:9@sha256:fb8d272e529ea567b9bf1302245796f21a2672b8368ca3fcb938ac334e613c8f
    healthcheck:
      test: redis-cli ping || exit 1
    restart: unless-stopped
    stop_grace_period: 5s
    cpus: 1
    mem_limit: 1024m
    security_opt:
      - no-new-privileges:true
    networks:
      - immich

  database:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_DATABASE_NAME}
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      - ${DB_DATA_LOCATION}:/var/lib/postgresql/data
    shm_size: 128mb
    restart: unless-stopped
    stop_grace_period: 5s
    cpus: 2
    mem_limit: 2048m
    security_opt:
      - no-new-privileges:true
    networks:
      - immich

volumes:
  model-cache:

networks:
  traefik:
    external: true
  immich:
    external: true
