services:
  beszel:
    image: henrygd/beszel:latest
    container_name: beszel
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - traefik
    volumes:
      - ./beszel_data:/beszel_data
      - ./beszel_socket:/beszel_socket
    # environment:
    #   - DISABLE_PASSWORD_AUTH=true
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.beszel.entrypoints=https"
      - "traefik.http.routers.beszel.rule=Host(`status.corsair.tf`)"
      - "traefik.http.routers.beszel.middlewares=security@file,private@file"
      - "traefik.http.routers.beszel.service=beszel"
      - "traefik.http.services.beszel.loadbalancer.server.port=8090"

  beszel-agent:
    image: henrygd/beszel-agent-intel:latest
    container_name: beszel-agent
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    network_mode: host
    cap_add:
      - SYS_RAWIO # required for S.M.A.R.T. data
      - SYS_ADMIN # required for NVMe S.M.A.R.T. data
      - CAP_PERFMON # required for Intel GPU
    devices:
      - /dev/sda:/dev/sda
      - /dev/sdb:/dev/sdb
      - /dev/sdc:/dev/sdc
      - /dev/sdd:/dev/sdd
      - /dev/nvme0:/dev/nvme0
      - /dev/nvme1:/dev/nvme1
      - /dev/dri/card0:/dev/dri/card0
    volumes:
      - ./beszel_agent_data:/var/lib/beszel-agent
      - ./beszel_socket:/beszel_socket
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:ro
      # - /mnt/fast:/extra-filesystems/fast__fast:ro
      # - /mnt/tank:/extra-filesystems/tank__tank:ro
      # give the device a custom name with double underscores
      # - /mnt/media/.beszel:/extra-filesystems/sdc1__Media:ro
    env_file:
      - .env
    environment:
      SYSTEM_NAME: Corsair
      LISTEN: /beszel_socket/beszel.sock
      HUB_URL: https://status.corsair.tf
      FILESYSTEM: sdb
      PRIMARY_SENSOR: coretemp_package_id_0
      # EXTRA_FILESYSTEMS: "fast__fast:nvme0n1,tank__tank:sdc"

networks:
  traefik:
    external: true